.card-item {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 0;

    img {
        width: 100%;
    }

    .info {
        padding: 10px;
    }

    button {
            border: none;
            background-color: var(--primary);
            padding: 5px 10px;
            color: #fff;

            &:hover {
                background-color: var(--primary-light);
                color: var(--text-color);
            }
    }
}